@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

  /* COLORS */

  /* Primary */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  /* SOCIAL MEDIA COLORS */
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);

  /* TOGGLE Dark Theme */
  --toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --toggle-bg: hsl(230, 22%, 74%);
  --toggle-dark-bg: hsl(232, 19%, 15%);


  /* Light Theme */
  --very-pale-blue: hsl(225, 100%, 98%);
  --light-grayish-blue: hsl(227, 47%, 96%);
  --dark-grayish-blue: hsl(228, 12%, 44%);
  --very-dark-blue: hsl(230, 17%, 14%);

  /* DARK THEME */
  --very-dark-blue: hsl(230, 17%, 14%);
  --very-dark-blue-top-bg-pattern: hsl(232, 19%, 15%);
  --dark-desaturated-blue-card-bg: hsl(228, 28%, 20%);
  --desaturated-blue-text: hsl(228, 34%, 66%);
  --white: hsl(0, 0%, 100%);


  /* FONT SIZE OVERVIEW CARD HEADINGS */
  --font-fs-default: 14px;
  --font-fs-0: 0.75rem;
  --font-fs-1: 1.125rem;
  --font-fs-2: 1.5rem;
  --font-fs-3: 2.25rem;
  --font-fs-4: 3.5rem;

}

.App {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var();

}

h1 {
  font-size: var(--font-fs-3);
  color: var(--white);
  font-weight: 600;
}

h1~p {
  font-size: var(--font-fs-1);
  color: var(--desaturated-blue-text);
  font-weight: 400;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background: var(--toggle);
  border-radius: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--toggle-dark-bg);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.active {
  background-color: var(--toggle);
}

input:checked+.slider {
  background-color: var(--toggle);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--toggle);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}